@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --color-primario:#000000;
   --color-secundario:#f6f6f6;
   --color-terciario:#22D4FD;
   --color-hover: #272727;

   --fuente-monserrat: 'monserrat', sans serif;
   --fuente-krona: 'krona one', sans serif;
}



* {
    padding: 0;
    margin: 0;
}


body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__home__link{
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

 .presentacion{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
 }
 
 .presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

 }

 .presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
 }

 .titulo-destaque{

    color: var(--color-terciario);
 }


 .presentacion__contenido__texto{
    font-size: 18px;
    font-family: var(--fuente-monserrat);

 }

 .presentacion__enlaces{
    display: flex;
    justify-content: space-between; 
    gap: 32px;
    flex-direction: column;
    align-items: center;
 }

 .presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
 }

 .presentacion__clases__link{
    inline-size: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    width: 50%;
    display: flex;   /*alinea el icono con las letras del boton */
    justify-content: center; /*centrar el logo y la palabra en el boton  se usa porque estamo horizonta --->*/
    gap: 10px; /* nos permite separar un poco el icono con la letra del boton */
 }
  /* el hover se utiliza para seleccionar elementos cuando pasas el ratón sobre ellos */
 .presentacion__clases__link:hover{ 
    background-color: var(--color-hover);
 }

.presentacion__imagen{
   width: 50%;
}

 .footer{
    background-color: var(--color-terciario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem; 
    font-weight: 400;
 }

 /*aqui vamos a trabajar con media queris, para poder adaptar la página a cualquier pantalla */

 @media (max-width: 1200px ){

   .header{

      padding: 10%;

   }

   .header__menu{
      justify-content: center;
   }


   .presentacion{
      flex-direction: column-reverse;
      padding: 5%;
   }

   .presentacion__contenido{
      width: auto;
   }

 }